.artists-root {
  display: flex;
  flex-grow: 1;
  padding: var(--spacing-l);
  gap: var(--spacing-l)
}

.artists-root-main {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.artists-root-main-card {
  /* height: 100px; */
}

.artists-root-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-l)
}

.artists-root-side-card {
  display: flex;
  flex-direction: column;
}

form.form-add-art {
  display: table;
}

div.form-add-art {
  display: table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

#sname {
  background-color: var(--light-color);
}
