.artists-root {
  display: flex;
  flex-grow: 1;
  padding: var(--spacing-l);
  gap: var(--spacing-l)
}

.artists-root-main {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.artists-root-main-card {
  /* height: 100px; */
}

.artists-root-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-l)
}

.artists-root-side-card {
  display: flex;
  flex-direction: column;
}

.artists-add-art-root {
  display: flex;
  flex-direction: column;
}

.artists-add-art-row {
  display: table-row;
  padding-top: var(--spacing-l);
}

.artists-add-art-size-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-s);
}

label {
  text-align: center;
}

input {
  width: 100%;
  display: inline-block;
  padding: var(--spacing-s);
  margin: var(--spacing-s) 0;
  border: 1px solid var(--subtle-color);
  background-color: var(--light-color);
  border-radius: 2px;
  box-sizing: border-box;
}
