.card {
  color: var(--text-color-primary);
  padding: var(--spacing-m);
  border-radius: var(--border-radius);
}

.card-primary {
  background-color: var(--brand-color);
}

.card-secondary {
  background-color: var(--background-color-secondary);
}

.card-subtle {
  color: var(--text-color-subtle);
}

.card-light {
  color: var(--text-color-light);
}
