* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  height: 100%;
  width: 100%;
}

:root {
  --brand-color: #525E75;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --text-color-primary: #000;
  --text-color-secondary: #525E75;
  --text-color-subtle: #DDDDDD;
  --text-color-light: #fff;
  --border-radius: 4px;
  --background-color-primary: #fff;
  --background-color-secondary: #DDDDDD;
}
