* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Rubik', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

:root {
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --secondary-color: #525E75;
  --primary-color: #000;
  --subtle-color: #DDDDDD;
  --light-color: #fff;
  --border-radius: 4px;
}

.p{
  color: aqua;
}
