
.navbar {
  border-bottom: 1.5px solid var(--secondary-color);
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  padding-left: var(--spacing-m);
  color: var(--light-color);
  display: grid;
  grid-template-columns: auto min-content min-content min-content min-content;
}

.navbar-title {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: var(--spacing-m);
  margin-left: var(--spacing-m);
}

.dropdown_list {
  position: relative;
}

.courses {
  /* display: none; */
  position: absolute;
  right: 0;
  top: var(--spacing-m);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: var(--light-color);
}

.courses li {
  color: var(--secondary-color);
  display: block;
  list-style: none;
  border: 1px solid var(--secondary-color);
}

.courses li:hover {
  background-color:var(--light-color);
}

.courses li a {
  color: var(--secondary-color);
  display: block;
}
